*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.container{
    position: relative;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: animateColor 5s linear infinite;
}

@keyframes animateColor{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}

.container .element{
    position: relative;
    width: 40px;
    height: 40px;
    background: lime;
    transform: scale(0.1);
    box-shadow: 0 0 10px lime,
    0 0 20px lime,
    0 0 40px lime,
    0 0 60px lime,
    0 0 80px lime,
    0 0 100px lime
}